$cWhite: white;
$cBlack: black;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$contentMaxWidth: 1070px;
$pdTitle: 40px;
$navHeight: 100px;
$cWineRed: #904669;
$cMenuOpen: $cBlack;
$cMenuClose: $cBlack;
$navHeight: 100px;
$cLoder: #08d6c8;